services:
  db:
    image: postgres:17
    environment:
      POSTGRES_USER: root
      POSTGRES_DB: oryn
      POSTGRES_PASSWORD: root
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  pg_data: